[Unit]
Description=groupcheck -- minimal polkit replacement

[Service]
User=groupcheck
Type=dbus
BusName=org.freedesktop.PolicyKit1
ExecStart=/usr/sbin/groupcheck -f /etc/groupcheck/groupcheck.policy

[Install]
WantedBy=multi-user.target
